# Exclude build folder
build/

# Exclude CLion folders and files
CMakeLists.txt
cmake-build-debug/
.idea/
.clang-format

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.o
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vscode/
#Nuget packages folder
packages/

*.out
Circuit_Simulation
